.charts-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  ngx-charts-pie-chart,
  ngx-charts-bar-vertical {
    width: 100%;
    height: 400px;
  }
  

//   .homePage {
//     display: flex; 
//     justify-content: center; 
//     align-items: center; 
// }

// .homePage {
//     max-width: 100%; 
//     height: auto;
// }